name: Test

on:
  pull_request:
    branches: 
      - main
    paths-ignore:
      - '**.md'
  workflow_call:
  workflow_dispatch:

jobs:
  test:
    name: Test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.39.1 # @denopendabot denoland/deno

      - name: Format
        run: deno fmt --check

      - name: Lint
        run: deno lint

      - name: Test
        if: ${{ matrix.os != 'ubuntu-latest' }}
        run: deno task test --quiet

      - name: Test with coverage analysis
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: deno task test --quiet --coverage=./coverage

      - name: Create coverage report
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: deno coverage ./coverage --lcov > ./coverage.lcov

      - name: Upload to Codecov
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.lcov
          fail_ci_if_error: false
